@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    /* color:white; */
    font-family: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
   
}

.h-90 {
  height: 90%;
}

@keyframes wave {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .animate-wave-gradient {
    background-image: linear-gradient(45deg, #f3ec78, #af4261, #3f88c5, #73a9e7, #44c0ac);
    background-size: 400% 400%;
    animation: wave 4s infinite;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  

  @keyframes slide {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .blockchains-container {
    width: 100%; /* Ensure full width */
    overflow: hidden; /* Hide the overflowing content */
    position: relative; /* Positioning context for absolute positioning */
  }
  
   .blockchains-list {
    display: flex;
    animation: scroll 30s linear infinite; 
  }
   
  @keyframes scroll {
    0% {
      transform: translateX(0); /* Start from initial position */
    }
    100% {
      transform: translateX(-100%); /* Move to the left infinitely */
    }
  }

  .blockchains-list p {
    margin: 0 40px;
    border: 1px solid black;
    padding:10px;
    border-radius: 20px;
    /* background-color: white; */
    color:white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
     }
  
  /* Styling for individual blockchain items */
  /* .blockchains-list p {
    border: 1px solid red;
    margin: 0 20px;
    height:50px;
    border-radius: 10px;
} */
.bg-my{
  background-color: black;
  /* background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%); */
}  
  
  
  
  
  