@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    /* color:white; */
    font-family: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
    overflow-x: hidden;
}

.h-90 {
  height: 90%;
}

@keyframes wave {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .animate-wave-gradient {
    background-image: linear-gradient(45deg, #f3ec78, #af4261, #3f88c5, #73a9e7, #44c0ac);
    background-size: 400% 400%;
    animation: wave 4s infinite;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  

  @keyframes slide {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .blockchains-container {
    width: 100%; /* Ensure full width */
    overflow: hidden; /* Hide the overflowing content */
    position: relative; /* Positioning context for absolute positioning */
  }
  
   .blockchains-list {
    display: flex;
    animation: scroll 30s linear infinite; 
  }
   
  @keyframes scroll {
    0% {
      transform: translateX(0); /* Start from initial position */
    }
    100% {
      transform: translateX(-100%); /* Move to the left infinitely */
    }
  }

  .blockchains-list p {
    margin: 0 40px;
    border: 1px solid black;
    padding:10px;
    border-radius: 20px;
    /* background-color: white; */
    color:white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
     }
  
  .myNft{
    height:50rem;
  }
  
  .myWord{
    font-size: 30rem;
  }

    .myP{
    margin-top: 30rem;
    position: relative;
  }
  .mySpan{
    position: absolute;
    width: max-content;
    font-size: 300px;
    
  }
  .myDiv div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:40px;
    width:320px;
    height:220px;
    border: 1px solid black;
    border-radius: 30px;
   background-color: rgba(207, 207, 207, 0.61);

    
  }


 