@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    color:white;
    font-family: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
   
}

@keyframes wave {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .animate-wave-gradient {
    background-image: linear-gradient(45deg, #f3ec78, #af4261, #3f88c5, #73a9e7, #44c0ac);
    background-size: 400% 400%;
    animation: wave 4s infinite;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  

  @keyframes slide {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .blockchains-container {
    width: 100%; /* Ensure full width */
    overflow: hidden; /* Hide the overflowing content */
    position: relative; /* Positioning context for absolute positioning */
  }
  
   .blockchains-list {
    display: flex;
    animation: scroll 30s linear infinite; 
  }
   
  @keyframes scroll {
    0% {
      transform: translateX(0); /* Start from initial position */
    }
    100% {
      transform: translateX(-100%); /* Move to the left infinitely */
    }
  }

  .blockchains-list p {
    margin: 0 20px;
   }
  
  /* Styling for individual blockchain items */
  /* .blockchains-list p {
    border: 1px solid red;
    margin: 0 20px;
    height:50px;
    border-radius: 10px;
} */


  
  
  
  
  
  